streamlit
pymupdf
python-dotenv
pandas
numpy
scikit-learn
sentence-transformers
faiss-cpu
langchain
langchain-community
google-generativeai
llama-cpp-python 
pydantic 
PyYAML
ollama
mistralai
fastapi
uvicorn[standard]
python-multipart
PyJWT
